.attendance {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

.title {
    border-left: 7px solid black;
}

.title-message {
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* 内容 */
.table {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    width: 780px;
    border-collapse: collapse;
}

.table-content {
    border-bottom: 1px solid #e1e1e1;
}

.table-header {
    width: 200px;
    padding: 15px 0 15px 40px;
    text-align: left;
    color: #757575;
}

.table-detail__name {
    padding: 4px;
    padding-left: 80px;
    text-align: left;
    font-weight: bold;
}

.table-detail {
    padding: 4px;
    text-align: center;
    font-weight: bold;
}

.table-detail__left {
    padding: 4px;
    text-align: left;
    font-weight: bold;
}

.table-decoration {
    width: 80px;
    text-align: left;
    padding: 0;
}

/* input */
.table-detail input {
    padding: 6px 20px;
    border-radius: 3px;
    border: 1px solid #757575;
}

/* timeアイコン削除 */
.icon-del::-webkit-calendar-picker-indicator {
    display: none;
}

.table-detail__textarea {
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
    padding: 8px;
    padding-left: 80px;
    resize: none;
}

/*承認ボタン*/
.approval-button{
    background-color: black;
    margin-left: 680px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 50px;
    padding: 5px 30px;
    color: white;
}
/*承認済ボタン*/
.approved-button {
    background-color: #696969;
    margin-left: 690px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 50px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}


.not-message {
    text-align: right;
}

.message {
    color: red;

}