body {
    margin: 0 auto;
    padding: 0;
}

header {
    margin: 0;
    background-color: black;
    width: auto;
    height: 70px;
}

.header{
    display: flex;
}
.header-logo img {
    margin: 15px 20px;
}

/*nav*/
.nav{
    padding-left: 525px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
.nav-item{
    color: white;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}