.email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email__text{
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
.email__text-content{
    margin: 0;
    padding: 0;
}

.button{
    margin: 45px 0;
    margin-left: 180px;
}
.next-button{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    background-color: #d9d9d9;
    padding: 10px 30px;
}

.reset-button{
    margin-left: 195px;
}
.verify-button{
    text-decoration: none;
    color: #0073cc;
}