.attendance {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    height: 500px;
    flex-direction: column;
}

.attendance__status {
    margin-left: 200px;
}

.status {
    font-size: 15px;
    border-radius: 15px;
    background-color: #c8c8c8;
    color: #6a6a6a;
    padding: 5px 15px;
    margin-right: 200px;
}

.date {
    padding: 0;
    text-align: center;
}

.date-detail {
    margin-top: -1px;
    font-size: 50px;
}

.time {
    padding: 0;
    text-align: center;
}

.time-detail {
    margin-top: -35px;
    font-size: 80px;
    font-weight: bold;
}

.button {
    display: block;
    text-align: center;
}

.finish-button {
    padding-top: -20px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 55px;
    border-radius: 15px;
    margin-right: 30px;
}
.break-button {
    padding-top: -20px;
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 15px;
    margin-left: 30px;
    border: 2px solid white;
}