.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.login__title h1 {
    padding-top: 30px;
    margin-bottom: 10px;
}

.login__item {
    margin: 15px auto;
    margin-bottom: 25px;
}

.login__name {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

.login__item input {
    display: block;
    width: 550px;
    height: 38px;
    margin-bottom: 50px;
}

.button {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-button {
    background-color: black;
    color: white;
    border-radius: 3px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.register {
    text-decoration: none;
    color: #0073cc;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}