.register{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    width: auto;
}
.register__title h1{
    padding-top: 30px;
    margin-bottom: 10px;
}

.register__item{
    margin: 15px auto;
    margin-bottom: 25px;
}
.register__name{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}
.register__item input{
    display: block;
    width: 550px;
    height: 25px;
}

.button{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.register-button{
    background-color: black;
    color: white;
    border-radius: 3px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
}
.login{
    text-decoration: none;
    color: #0073cc;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}